@import '../abstracts/variables';

body {
    background: url('../../assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 10px;
  
    &-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }
  
    &-thumb {
      background: $color-primary;
      border-radius: 10px;
    }
  
    &-thumb:hover {
      background: $color-primary-hover;
    }
  }
  
  