
// Primary Colors

$color-primary: #cf2121;
$color-primary-hover: #cf2121be;

// Pokemon Types Variables

$color-grass: #86cf4c;
$color-fire: #ff5643;
$color-water: #56adff;
$color-poison: #a85c9f;
$color-electric: #fee83e;
$color-bug: #c2d21f;
$color-dark: #8e6956;
$color-dragon: #8975ff;
$color-flying: #79a4ff;
$color-ghost: #7874d5;
$color-ground: #edcb55;
$color-psychic: #f461b0;
$color-ice: #96f1ff;
$color-rock: #cebd72;
$color-steel: #c4c2db;
$color-fairy: #f9aeff;
$color-fighting: #c67955;
$color-normal: #bcbcac;

// Pokemon Gender

$color-male: #1f5dc0;
$color-female: #d32542;