
// Primary Colors

$color-primary: #cf2121;
$color-primary-hover: #cf2121be;

// Pokemon Types Variables

$color-grass: rgb(134, 207, 76);
$color-fire: rgb(255, 86, 67);
$color-water: rgb(86, 173, 255);
$color-poison: rgb(168, 92, 159);
$color-electric: rgb(254, 232, 62);
$color-bug: rgb(194, 210, 31);
$color-dark: rgb(142, 105, 86);
$color-dragon: rgb(137, 117, 255);
$color-flying: rgb(121, 164, 255);
$color-ghost: rgb(120, 116, 213);
$color-ground: rgb(237, 203, 85);
$color-psychic: rgb(244, 97, 176);
$color-ice: rgb(150, 241, 255);
$color-rock: rgb(206, 189, 114);
$color-steel: rgb(196, 194, 219);
$color-fairy: rgb(249, 174, 255);
$color-fighting: rgb(198, 121, 85);
$color-normal: rgb(188, 188, 172);