@import "../abstracts/variables";

.dashboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 90%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  overflow-x: hidden;
}

.navbar {
  background-color: $color-primary !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;

  &-brand {
    color: white;
  }

  &-logo {
    height: 30px;
    padding-right: 10px;
  }

  &-search {
    color: white;
  }
}